@model Cimob.Models.Program

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <br />
    <h4><b>@Html.DisplayFor(model => model.Name)</b></h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Description)<br />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinationId)<br />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramDestination.Cidade) - @Html.DisplayFor(model => model.ProgramDestination.Pais)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EntityId)<br />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProgramEntity.EntityName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vacancies)<br />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vacancies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)<br />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)<br />
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProgramId">Edit</a> |
    <a asp-action="Index">Regressar à Lista</a>
</div>
</body>
</html>
