@model IEnumerable<Cimob.Models.Destination>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Destinos de Programas de Mobilidade &nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="Lista de destinos com programas de mobilidade ativos"><i class="fa fa-question-circle" aria-hidden="true"></i></a></h2>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Cidade)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pais)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
               
                <a asp-controller="Destination" asp-action="DestinationProgram" asp-route-id="@item.DestinationId">Ver programas</a>
                &nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="Clicar para ver os programas existentes neste destino."><i class="fa fa-question-circle" aria-hidden="true"></i></a>
@*              
*@
                    @*<a asp-action="Edit" asp-route-id="@item.DestinationId">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.DestinationId">Delete</a>*@
</td>
        </tr>
}
    </tbody>
</table>
<a asp-area="" asp-controller="Program" asp-action="Index">Lista de Programas</a>&nbsp;<a href="#" data-toggle="tooltip" data-placement="bottom" title="Aceder à lista de programas."><i class="fa fa-question-circle" aria-hidden="true"></i></a>

