@model Cimob.Models.Candidatura

@{
    ViewData["Title"] = "Cancelar candidatura";
}

<h2>Cancelar</h2>

<h3>Tem a certeza que pretende cancelar candidatura?</h3>
<div>
    <h4>Candidatura</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastStateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastStateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppliedProgram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppliedProgram.Description)
        </dd>
    </dl>
    
    <form asp-action="Cancel">
        <input type="hidden" asp-for="CandidaturaId" />
        <input type="submit" value="Cancelar" class="btn btn-default" /> |
        <a asp-action="Index">Voltar</a>
    </form>
</div>
