@model Cimob.Models.Candidatura

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candidatura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastStateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastStateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppliedProgram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppliedProgram.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CandidaturaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
