@model Cimob.Models.Candidatura

@{
    ViewData["Title"] = "Detalhes de candidatura";
}

<h2>Detalhes</h2>

<div>
    <h4>Candidatura</h4>
    <hr />
    <dl class="dl-horizontal">
        @*
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        *@
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastStateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastStateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AppliedProgram)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AppliedProgram.Description)
        </dd>
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.CandidaturaId">Edit</a> |*@

    @if (Model.State == CandidaturaState.scheduling)
    {
        <text><a href="/Interviews/Edit/@Model.InterviewId">Agendar entrevista</a> |</text>
        <text><a asp-action="Cancel" asp-route-id="@Model.CandidaturaId">Cancelar candidatura</a> |</text>
    }
    @if (Model.State == CandidaturaState.interview) {
        <text><a asp-action="Cancel" asp-route-id="@Model.CandidaturaId">Cancelar candidatura</a> |</text>
    }

    <a asp-action="Index">Voltar à lista</a>
</div>
